body {
  margin: 0;
  font-family: "Cascadia Code";
  font-size: 16px;
  background-color: #F2F2F2;
}

a:visited {
  color: inherit;
}

a:hover {
  color: white;
}

a:active {
  color: inherit;
}

h1 {
  display: inline;
  font-weight: 900;
  font-size: 64px;
}

p {
  font-weight: 600;
  font-size: 18px;
}

.typed-cursor {
  font-size: 64px;
}

.App {
  height: 100vh;
}

.App p {
  margin-top: 64px;
}

.logo-grid img {
  width: 24px;
}

.Button {
  text-transform: none;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-container .avatar {
  width: 256px;
  height: auto;
}

.introduction-container {
  height: 100vh;
  width: 100vw;
  margin-bottom: 100px;
}

.work-experience--container {
  text-align: center;
  margin-bottom: 64px;
}

.external-link-btn {
  color: white !important;
  background-color: black  !important;
  text-transform: none  !important;
  font-family: "Cascadia Code" !important;
  font-size: 18px !important;
}