/* .vertical-timeline-container {
    margin-top: 35vh;
    margin-bottom: 35vh;
}
.vertical-timeline-container ul, 
.vertical-timeline-container h1, 
.vertical-timeline-container h2,
.vertical-timeline-container h3 {
    padding: 0 5% 0 5%;
    text-align: left;
}
.vertical-timeline-container .timeline-section-header {
    text-align: center;
    margin-bottom: 5%;
    font-size: 40px;
}

.vertical-timeline-container h1 {
    font-size: 32px;
}
.vertical-timeline-container p {
    padding: 0 5% 0 5%;
    text-align: left;
} */
