.introduction-section {
    height: 100vh;
}
.introduction-section .profile-avatar {
    width: 350px;
    height: auto;
    margin: -10% auto 0;
    border-style: solid;
    border-width: 8px;
    border-color: white;
}

.grey-section {
    background-color: grey;
    height: 50%;
    display: block;
}

.white-section {
    height: 50%;
    text-align: center;
}

.profile-name-jobtitle-section {
    font-weight: 300;
    text-transform: uppercase;
    margin: 60px auto 0;
}

.welcome-paragraph-section {
    width: 400px;
    margin: 20px auto 0;
}


.cv-link-btn {
    margin-top: 10px;
    justify-content: center !important ;
    color: white !important;
    background-color: black  !important;
    text-transform: none  !important;
    font-family: "Cascadia Code" !important;
    font-size: 18px;
}