.introduction-section {
    height: 150vh
}

.introduction-section .profile-avatar {
    width: 350px;
    height: auto;
    margin: -10% auto 0;
    border-style: solid;
    border-width: 8px;
    border-color: white;
}

.grey-section {
    background-color: #d1cdcd;
    height: 50vh;
    display: block;
}

.white-section {
    height: 50%;
    text-align: center;
}

.black-section {
    background-color: #121212;
    height: 50vh;
    display: block;
}

.profile-name-jobtitle-section {
    font-weight: 300;
    text-transform: uppercase;
    margin: 60px auto 0;
}

.welcome-paragraph-section {
    width: 400px;
    margin: 20px auto 0;
}